{% include base_path %}

{%- comment -%} Resolve teaser from header.teaser OR teaser {%- endcomment -%}
{% if post.header.teaser %}
  {% assign teaser = post.header.teaser %}
{% elsif post.teaser %}
  {% assign teaser = post.teaser %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{%- comment -%} Normalize teaser URL {%- endcomment -%}
{% assign teaser_url = teaser %}
{% if teaser_url %}
  {% if teaser_url contains '://' %}
    {% assign teaser_url = teaser_url %}
  {% elsif teaser_url startswith '/' %}
    {% assign teaser_url = teaser_url | relative_url %}
  {% else %}
    {% assign teaser_url = teaser_url | prepend: '/images/' | relative_url %}
  {% endif %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="archive__row">
      <div class="archive__content">
        <h2 class="archive__item-title" itemprop="headline">
          {% if post.link %}
            <a href="{{ post.link }}">{{ post.title }}</a>
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">
              <i class="fa fa-link" aria-hidden="true" title="permalink"></i>
              <span class="sr-only">Permalink</span>
            </a>
          {% else %}
            <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
          {% endif %}
        </h2>

        {% if post.read_time or post.date %}
          <p class="post-meta-inline">
            {% if post.read_time %}
              <i class="fa fa-book" aria-hidden="true"></i>
              <i class="fa fa-clock-o" aria-hidden="true"></i>
              {% include read-time.html %}
            {% endif %}
            {% if post.read_time and post.date %}
              <span class="sep">•</span>
            {% endif %}
            {% if post.date %}
              <i class="fa fa-fw fa-calendar" aria-hidden="true"></i>
              <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
            {% endif %}
          </p>
        {% endif %}

        {% if post.excerpt and site.read_more != 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
        {% elsif post.excerpt and site.read_more == 'enabled' %}
          <p class="archive__item-excerpt" itemprop="description">
            <p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
              <strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong>
            </p>
          </p>
        {% endif %}
      </div>

      {% if teaser_url %}
        <a class="archive__thumb" href="{{ base_path }}{{ post.url }}" aria-label="Open {{ post.title }}">
          <img src="{{ teaser_url }}" alt="">
        </a>
      {% endif %}
    </div>
  </article>
</div>
